{% load static %}
<div class="header">
    <div class="header-name">
        <h1><a href="/">Piedmont Student Launch Team</a></h1>
    </div>

    <nav>
        <div class="nav-bar">
            <button class="menu transition-blue" id="menu-mobile"><img src="{% static 'pslt/images/menu.png' %}">
            </button>
            <span style="display: inline-block"><h1><a href="/"
                                                       id="mobile-name">Piedmont Student Launch Team</a></h1></span>
        </div>

        <div class="nav-menu">
            <dl>
                <dt>
                    <span class="spacer">&zwnj;</span>
                    <a href="/" class="nav-link">Home</a>
                </dt>

                <dt>
                    <span class="spacer">&zwnj;</span>
                    <a href="/about/" class="nav-link">About</a>
                </dt>

                <dt>
                    <span class="spacer">&zwnj;</span>
                    <a href="/team/" class="nav-link">Team</a>
                </dt>

                <dt>
                    <button class="plus-minus transition-blue">+</button>
                    <a href="/outreach/" class="nav-link transition-blue">Outreach</a>
                </dt>
                <dd>
                    <ul>
                        <li>
                            <a href="/outreach/family-space-exploration-event" class="nav-link">Family Space Exploration
                                Event</a>
                        </li>
                    </ul>
                </dd>

                <dt>
                    <button class="plus-minus transition-blue">+</button>
                    <a href="/documents/" class="nav-link">Documents</a>
                </dt>
                <dd>
                    <ul>
                        <li>
                            <a href="/documents/2019" class="nav-link">2018-2019</a>
                        </li>
                        <li>
                            <a href="/documents/2018" class="nav-link">2017-2018</a>
                        </li>
                        <li>
                            <a href="/documents/2017" class="nav-link">2016-2017</a>
                        </li>
                    </ul>
                </dd>

                <dt>
                    <span class="spacer">&zwnj;</span>
                    <a href="/donate/" class="nav-link">Donate</a>
                </dt>

                <dt>
                    <span class="spacer">&zwnj;</span>
                    <a href="/sponsors/" class="nav-link">Sponsors</a>
                </dt>

                <dt>
                    <span class="spacer">&zwnj;</span>
                    <a href="/contact/" class="nav-link">Contact</a>
                </dt>
            </dl>
        </div>

        <div class="desktop-nav-bar">
            <ul class="desktop-top-nav-list">
                <li class="desktop-top-nav-link">
                    <a href="/" class="nav-link">Home</a>
                </li>

                <li class="desktop-top-nav-link">
                    <a href="/about/" class="nav-link">About</a>
                </li>

                <li class="desktop-top-nav-link">
                    <a href="/team/" class="nav-link">Team</a>
                </li>

                <li class="desktop-top-nav-link">
                    <a href="/outreach/" class="nav-link">Outreach</a>
                    <ul class="desktop-nav-hidden">
                        <li class="desktop-nav-link">
                            <a href="/outreach/family-space-exploration-event/" class="nav-link">Family Space
                                Exploration
                                Event</a>
                        </li>
                    </ul>
                </li>

                <li class="desktop-top-nav-link">
                    <a href="/documents/" class="nav-link">Documents</a>
                    <ul class="desktop-nav-hidden">
                        <li class="desktop-nav-link">
                            <a href="/documents/2019" class="nav-link">2018-2019</a>
                        </li>
                        <li class="desktop-nav-link">
                            <a href="/documents/2018" class="nav-link">2017-2018</a>
                        </li>
                        <li class="desktop-nav-link">
                            <a href="/documents/2017" class="nav-link">2016-2017</a>
                        </li>
                    </ul>
                </li>

                <li class="desktop-top-nav-link">
                    <a href="/donate/" class="nav-link">Donate</a>
                </li>

                <li class="desktop-top-nav-link">
                    <a href="/sponsors/" class="nav-link">Sponsors</a>
                </li>

                <li class="desktop-top-nav-link">
                    <a href="/contact/" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--div class="pvcc-logo">
        <img src="{% static 'pslt/images/pvcc_logo.png' %}">
    </div-->
</div>