{% extends 'pslt/base.html' %}
{% load static %}
{% block head_title %} Piedmont Student Launch Team {% endblock %}
{% block local_styles %}
    <style type="text/css">
        div.content {
            width: 100%;
        }

        div.content h1 {
            text-align: left;
        }

        div.content img {
            margin: 0 auto;
            display: block;
        }

        div#front-page {
            position: relative;
        }

        div#front-page img {
            width: 100%;
        }

        div#front-page canvas {
            position: absolute;
            top: 0;
            left: 0;
        }

        div#front-page div#front-page-buttons {
            position: absolute;
            bottom: 2rem;
        }
    </style>
{% endblock %}

{% block pre_content %}
    <!--img src="{% static 'pslt/images/index-pre-content.jpg' %}" alt="Team picture"-->
{% endblock %}

{% block content %}
    <div id="front-page">
        <img src="{% static 'pslt/images/index-pre-content.jpg' %}" alt="Team picture">
        <canvas></canvas>
        <div id="front-page-buttons">
            <a href="./about" class="fab">About Us</a>
            <a href="./documents" class="fab">Latest Documents</a>
            <a href="./contact" class="fab">Contact</a>
        </div>
    </div>

    <!--h1>News</h1>
    <div class="blog-port">
        {% for post in blog_posts %}
            {% include 'pslt/blog-snippet.html' with blog_post=post %}
            <br>
        {% endfor %}
    </div-->
{% endblock %}