{% extends 'pslt/base.html' %}
{% load static %}
{% block head_title %} Piedmont Student Launch Team {% endblock %}
{% block local_styles %}
    <style type="text/css">
        div.content {
            /*width: 100%;*/
        }

        div.content h1 {
            text-align: left;
        }

        div.content img {
            margin: 0 auto;
            display: block;
        }

        div#front-page {
            position: relative;
        }

        div#front-page img {
            width: 100%;
        }

        div#front-page canvas {
            position: absolute;
            top: 0;
            left: 0;
        }

        div#front-page div#front-page-buttons {
            position: absolute;
            bottom: 3rem;
        }

        div#pslt-logo {
            margin: 0 auto;
            width: 50%;
        }

        div#index-grid {
            display: grid;
            justify-items: center;
            grid-template-columns: 50% 50%;
        }

        div#events {
            width: 100%;
        }

        div#events h1 {
            text-align: center;
        }

        div#timeline {
            width: 100%;
        }

        div#timeline h1 {
            text-align: center;
        }

    </style>
{% endblock %}

{% block pre_content %}
    <div id="front-page">
        <img src="{% static 'pslt/images/index-pre-content.jpg' %}" alt="Team picture">
        <canvas></canvas>
        <div id="front-page-buttons">
            <a href="./about" class="fab">About Us</a>
            <a href="./documents" class="fab">Latest Documents</a>
            <a href="./contact" class="fab">Contact</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="pslt-logo">
        <img src="{% static 'pslt/images/pslt-logo.png' %}">
    </div>

    <div id="index-grid">
        <div id="events">
            <h1>Upcoming Events</h1>
            {% for event in events %}
                {% include 'pslt/index-event-snippet.html' with event=event %}
                <br>
            {% endfor %}
        </div>

        <div id="timeline">
            <h1>Timeline</h1>
            {% for milestone in milestones %}
                {% include 'pslt/index-timeline-snippet.html' with milestone=milestone %}
                <br>
            {% endfor %}
        </div>
    </div>

    <!--h1>News</h1>
    <div class="blog-port">
        {% for post in blog_posts %}
            {% include 'pslt/blog-snippet.html' with blog_post=post %}
            <br>
        {% endfor %}
    </div-->
{% endblock %}